<footer class="footer">
    <div class="container">
        <div class="col-xs-10">
        <p class="text-muted">Check us out on our social media.</p>
        </div>
        <div class="col-xs-2">
        <a href="https://www.facebook.com/groups/free.code.camp.minneapolis/"><i class="fa fa-facebook-square fa-3" aria-hidden="true"></i></a>
        <a href="https://github.com/M-C-C/M-C-C.github.io"><i class="fa fa-github-square fa-3" aria-hidden="true"></i></a>
        </div>
    </div>
</footer>